$sm-width: 320px;
$md-width: 768px;
$lg-width: 1024px;
$mobile-width-only: 1199.98px;
$xl-width: 1200px;
$xxl-width: 1440px;

$white: #fff;
$gray: #6c7589;
$black: #000;
$light: #F9F8FD;
$dark: #22253B;
$accent-orange: #F15525;
$accent-blue: #38BFF2;

$bg-color: $light;
$text-color: $dark;
$transition: 0.4s;