a.logo {
    color: inherit;
    text-decoration: none;
    
    &:hover,
    &:focus {
        & .icon {
            &__el {
                &--one {
                    fill: $black;
                    
                }
                &--two {
                    fill: $accent-orange;
                }
                &--three {
                    fill: $black;
                }
                &--four {
                    fill: $accent-blue;
                    
                }
            }
        }
    }
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;


    & .icon {
        width: 4rem;
        height: 1.469rem;

        @media (min-width: $lg-width) {
            width: 5.3rem;
            height: 1.946rem;
        }

        &__el {
            transition: $transition;
            &--one {
                fill: $accent-blue;
            }
            &--two {
                fill: $black;
            }
            &--three {
                fill: $accent-orange;
            }
            &--four {
                fill: $black;
            }
        }


    }
}