.icon {
  &__symbol {
    fill: none;
    transition: $transition;
  }

  &__el {
    fill: inherit;
    stroke: inherit;
  }
}

.icon {
  &__logo-el.one {
    fill: $accent-blue;
  }
  &__logo-el.two {
    fill: $black;
  }
  &__logo-el.three {
    fill: $accent-orange;
  }
  &__logo-el.four {
    fill: $black;
  }
}